<app-header (featureSelected)="onNavigate($event)"></app-header>

<h3>Hi, I am Cubical!</h3>
<hr>
<div class="container">
  <div class="row">
    <app-recipes *ngIf="loadedfeature==='recipe'"></app-recipes>
    <app-shopping-list *ngIf="loadedfeature !=='recipe'"></app-shopping-list>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <app-to-do-list></app-to-do-list>
  </div>
<!--  <div class="container">
    <div class="row">
     <app-clock></app-clock>
    </div>-->
</div>

